<html>

<head>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="main.css">

<body>

    <div ng-app="myApp" ng-controller="myCtrl" class="main-app">

        <div class="container">
            <div class="row">
                <div class="col-md-12">Please Input The City Name: <input type="text" ng-model="cityName" /> </div>
            </div>
            <div class="row">
                <div class="col-md-12"><button type="button" ng-click="reload()">Current Wearher</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">Current Weather Is :
                    <h1> {{weather}}</h1>
                </div>
            </div>

        </div>

        <script src="weather.controller.js"></script>

</body>

</html>