<html>

<head>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="main.css">

<body>

    <div ng-app="myApp" ng-controller="myCtrl" class="main-app">

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Please Input The City Name:</span>
                        <input type="text" class="form-control" placeholder="" ng-model="cityName" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" ng-click="reload()">Current Wearher</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3><span class="label label-default">Current Weather Is :</span></h3>
                </div>
                <div class="col-md-8">                    
                    <h3> {{weather}}</h3>
                </div>
                </div>
            </div>

        </div>

        <script src="weather.controller.js"></script>

</body>

</html>